@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Montserrat&family=Noto+Sans:ital,wght@0,100;1,100&family=Press+Start+2P&family=Ubuntu&display=swap');

* {
    /* font-family: 'Press Start 2P', sans-serif; */
    margin: 0px;
    padding: 0px;
}

/* header */
header {
    border: 2px solid black;
    height: 40vh;
}

